# The merge function

## Always use how, indicator, on

In [2]:
import pandas as pd

left_df = pd.DataFrame({
                    'firm': ['Accenture','Citi','GS'],
                    'varA': ['A1', 'A2', 'A3']})

right_df = pd.DataFrame({
                    'firm': ['GS','Chase','WF'],
                    'varB': ['B1', 'B2', 'B3'],
                    'varc': ['C1', 'C2', 'C3']})

In [3]:
left_df

        firm varA
0  Accenture   A1
1       Citi   A2
2         GS   A3

Let use shift+tab to talk about the parameters.

Put your cursor in the merge function below and hit shift tab

In [4]:
right_df

    firm varB varc
0     GS   B1   C1
1  Chase   B2   C2
2     WF   B3   C3

In [6]:
left_df.merge(right_df, how='inner').shape[0]

1

In [5]:
left_df.merge(right_df, how='left')

        firm varA varB varc
0  Accenture   A1  NaN  NaN
1       Citi   A2  NaN  NaN
2         GS   A3   B1   C1

In [6]:
left_df.merge(right_df, how='right')

    firm varA varB varc
0     GS   A3   B1   C1
1  Chase  NaN   B2   C2
2     WF  NaN   B3   C3

In [7]:
left_df.merge(right_df, how='outer')

        firm varA varB varc
0  Accenture   A1  NaN  NaN
1       Citi   A2  NaN  NaN
2         GS   A3   B1   C1
3      Chase  NaN   B2   C2
4         WF  NaN   B3   C3

In [8]:
left_df.merge(right_df, how='cross')

      firm_x varA firm_y varB varc
0  Accenture   A1     GS   B1   C1
1  Accenture   A1  Chase   B2   C2
2  Accenture   A1     WF   B3   C3
3       Citi   A2     GS   B1   C1
4       Citi   A2  Chase   B2   C2
5       Citi   A2     WF   B3   C3
6         GS   A3     GS   B1   C1
7         GS   A3  Chase   B2   C2
8         GS   A3     WF   B3   C3

The main parameters:
- right
- how
- on and its variants 
- indicator 
- validate

## Part 1

_Prof: Leave the "how" slide on the board_

Some work with the mechanics:

- Q0 Merge both datasets above with each possible value of `how`. How many observations result from each of the four merges?

In [8]:
left_df.merge(right_df, how='inner').shape[0]

1

In [9]:
left_df.merge(right_df, how='left').shape[0]

3

In [10]:
left_df.merge(right_df, how='right').shape[0]

3

In [11]:
left_df.merge(right_df, how='outer').shape[0]

5

In [12]:
left_df.merge(right_df, how='cross').shape[0]

9

- Q1 Compare `left_df.merge(right_df)` and `pd.merge(left_df, right_df)`. Are they the same or different? What do we learn from this?

In [13]:
left_df.merge(right_df)

  firm varA varB varc
0   GS   A3   B1   C1

In [14]:
pd.merge(left_df, right_df)

### They are the same 
- df.merge calls pd.merge
- https://morioh.com/p/a26b95f657d6

- Q2 Successfully do an outer merge between `left_df` and `ChosenOne`. Then try to do an outer merge between `left_df` and `CurryForThree` (both are defined below)

- Q3 Do an outer merge with `left_df` and `right_df` and output the source of each observation by using the "indicate" option.

In [9]:
a_bad_name = left_df.merge(right_df, how='outer', indicator=True)

In [10]:
a_bad_name['_merge'].value_counts() #always do this

left_only     2
right_only    2
both          1
Name: _merge, dtype: int64

# Using Validate

In [11]:
left_df.merge(right_df, how='outer', indicator=True, validate='1:1')

        firm varA varB varc      _merge
0  Accenture   A1  NaN  NaN   left_only
1       Citi   A2  NaN  NaN   left_only
2         GS   A3   B1   C1        both
3      Chase  NaN   B2   C2  right_only
4         WF  NaN   B3   C3  right_only

In [12]:
left_df.merge(right_df, how='outer', indicator=True, validate='1:m')

        firm varA varB varc      _merge
0  Accenture   A1  NaN  NaN   left_only
1       Citi   A2  NaN  NaN   left_only
2         GS   A3   B1   C1        both
3      Chase  NaN   B2   C2  right_only
4         WF  NaN   B3   C3  right_only

In [13]:
left_df.merge(right_df, how='outer', indicator=True, validate='m:1')

        firm varA varB varc      _merge
0  Accenture   A1  NaN  NaN   left_only
1       Citi   A2  NaN  NaN   left_only
2         GS   A3   B1   C1        both
3      Chase  NaN   B2   C2  right_only
4         WF  NaN   B3   C3  right_only

In [14]:
left_df.merge(right_df, how='outer', indicator=True, validate='m:m')

        firm varA varB varc      _merge
0  Accenture   A1  NaN  NaN   left_only
1       Citi   A2  NaN  NaN   left_only
2         GS   A3   B1   C1        both
3      Chase  NaN   B2   C2  right_only
4         WF  NaN   B3   C3  right_only

- Q4 Repeat the outer merge we just did, but four times: try each possible value of "validate"

In [15]:
ChosenOne = pd.DataFrame({
                    'tic': ['GS','GS','GS'],
                    'varB': ['B1', 'B2', 'B3'],
                    'varc': ['C1', 'C2', 'C3']})    

CurryForThree = pd.DataFrame({
                    'var1': ['GS','GS','GS'],
                    'varD': ['D1', 'D2', 'D3'],
                    'varE': ['E1', 'E2', 'E3']}).set_index('var1')

In [16]:
#left_df.merge(ChosenOne, how='outer', left_on=('firm'), right_on=('tic'))
left_df.merge(ChosenOne,
             how = 'outer'
             )

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [ ]:
left_df.merge(CurryForThree, 
              how='outer', 
              left_on=('firm'), 
              right_index=True)

## Part 2

- Q5: [Guess what category of join](https://ledatascifi.github.io/ledatascifi-2022/content/03/05b_merging.html#categories-of-joins) each of the following merges are?  
    1. `left_df` and `right_df` (you already know from Q4)
    1:1

#### `left_df` and `ChosenOne` 1:m because Chosen one is all GS

In [ ]:
#left_df.merge(ChosenOne, how='outer', left_on=('firm'), right_on=('tic'))
left_df.merge(ChosenOne,
             how = 'inner',
             left_on = 'firm',
             right_on='tic',
             validate='1:m')
# 1:M can expand the dataset

    1. `CurryForThree` and `left_df` M:1

In [ ]:
#left_df.merge(ChosenOne, how='outer', left_on=('firm'), right_on=('tic'))
CurryForThree.merge(left_df,
             how = 'left',
             right_on='firm',
             left_index=True)
# m:1 dataset can't expand
# m:1 + left --> dataset will stay the same length

    1. `ChosenOne` and `CurryForThree` M:M

- Q6: Do each of those four merge with `how='inner'` as an option. What is the length of each resulting dataframe?

- Q7: Do an outer merge of `left_df` and `ChosenOne`. How many observations are in the resulting data, and why is it different than we foudn in Q6?

- Q8: Merge these next two datasets with `how='inner'` as an option. What s the length of the resulting dataframe and do you think it's right?

In [ ]:
poppop = pd.DataFrame({
                    'tic': ['TSLA','TSLA','GM'],
                    'varB': ['2016', '2017', '2018'],
                    'varc': ['C1', 'C2', 'C3']})    

CurryForThree = pd.DataFrame({
                    'var1': ['F','TSLA','TSLA'],
                    'varD': ['2016', '2017', '2018'],
                    'varE': ['E1', 'E2', 'E3']}).set_index('var1')

In [ ]:
# You can merge on multiple variables
# If varB and varD were named the same thing it would only appear once

poppop.merge(CurryForThree,
            left_on = ['tic','varB'],
            right_on = ['var1','varD'])

In [ ]:
poppop

In [ ]:
CurryForThree

## Part 3 - Collecting tips

You should, after class, collect tips about
- The most common use of merging and safeguards you can use
- When should you create variables - before or after a merge?
- Best practices for merging

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A":[12, 4, 5, None, 1], 
                   "B":[None, 2, 54, 3, None], 
                   "C":[20, 16, None, 3, 8], 
                   "D":[14, 3, None, None, 6]}) 

_df1 = df.copy()
_df1['firm'] = 1
_df1['date'] = _df1.index

_df2 = df.copy()
_df2['firm'] = 2
_df2['date'] = _df2.index

df2 = _df1.append(_df2)

In [ ]:
df

In [ ]:
## Q1
df.fillna(-1)

In [ ]:
## Q2
df['B'] = df['B'].fillna(-1)
df

In [ ]:
## Q3
##for col in df:
    ##df[col] = df[col].fillna(df[col].mean())

#Better way
df.fillna(df.mean())
df